body {
    font-family: 'Oswald', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    user-select: none;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a.active {
    font-weight: bold;
    text-decoration: underline;
}

main {
    padding: 2rem;
}

.hero, .about, .projects, .contact {
    margin-bottom: 2rem;
}

img {
    max-width: 100%;
}

.links {
    text-align: center;
}

/*h1 {
    text-align: center;
    color: indigo;
}*/

.proekts {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    user-select: none;
}

.listItem {
    color: #ebebeb;
    text-decoration: none;
    margin-right: 1rem;
    margin-left: 1rem;
}